body {
    overflow-x: hidden;
}

#search {
    position: absolute;
    width: 350px;
    border: none;
    height: 40px;
    border: none;
    border-radius: 3px;
    left: 250px;
    background-color: #f5f5f6;
}

i {
    color: black;
    display: block;
    margin: 5px;
    padding: 4px;
    position: relative;
}

strong {
    font-size: small;
    color: black;
    text-align: center;
    display: block;
    margin: 3px;
}

.slide {
    margin-bottom: 90px;
    margin-top: 40px;
}

.carousel-indicators li {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #7E818C;
}

.carousel-indicators {
    bottom: -45px;
}

.carousel-inner {
    margin-bottom: -50px;
}

.carousel-indicators li,
.carousel-indicators li.active {
    margin: 0px 7px;
}

.cardsection {
    margin-top: 40px;
}



.card {
    padding-top: 15px;
    border: none;
}

.card-deck {
    margin-left: 30px;
    margin-right: 30px;
}

h3[class="display-5"] {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 300px;
    margin-left: 30px;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:3vw;
}

.navbar img {
    margin-left: 20px;
}

.navbar {
    position: sticky;
}

footer {
    background-color: rgb(244, 246, 247);
    text-align: center;
    font-size: small;
}

h5 a {
    color: black;
}

.list-unstyled a {
    color: #635f5f;
}

#media a {
    margin-left: 5px;
}

.footer-heading h5 {
    font-size: small;
}