body {
    overflow-x: hidden;
}

.navbar-brand img {
    height: 44px;
    padding-left: 20px;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.nav-link {
    color: black !important;
    padding: 15px 0px !important;
    width: 79px;
    text-align: center;
}

.nav-link::after{
    content: '';
    width: 100%;
    height: 3px;
    top: 23px;
    left: 0px;
    display: block;
    position: relative;
    opacity: 0;
}

.navbar-nav-pink .nav-link::after{
    background-color: #ee5f73;
}

.navbar-nav-orange .nav-link::after{
    background-color: #f26a10;
}

.navbar-nav:hover .nav-link:after{
    opacity: 1;
}

.dropdown-menu.megamenu.midmenu.show {
    right: 0;
}

.dropdown-menu.show {
    right: 0;
}

nav {
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
}

.form-inline .searchbar {
    margin-left: 10%;
}

.megamenu {
    padding: 0px 0px;
    position: absolute;
    width: 100%;
    height: 100vh;
    border: 0px;
    right: 0;
    left: 0;
    top: 71px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0px;
}

.megamenu-dropdown{
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    margin-left: 125px;
    padding: 15px;
    padding-bottom: 20px;
    box-shadow: -2px 16px 5px -16px rgba(0,0,0,0.4) inset;
}

.navbar-nav-pink .megamenu-dropdown h6{
    color: #ee5f73;
}

.navbar-nav-orange .megamenu-dropdown h6{
    color: #f26a10;
}

.megamenu li {
    line-height: 2.2;
}

.navbar-nav {
    margin-left: 20px;
}

@media (max-width: 767px) {
    nav.navbar {
        max-height: 100vh;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2.5rem;
        padding-left: 0.5rem;
    }
}

.megamenu ul li {
    list-style: none;
    font-size: 14px;
    color: black;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.megamenu a {
    color: black;
    text-decoration: none;
}

.megamenu h6 {
    color: black;
}

.slide {
    margin-bottom: 90px;
    margin-top: 40px;
}

.carousel-indicators li {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #7E818C;
}

.carousel-indicators {
    bottom: -45px;
}

.carousel-inner {
    margin-bottom: -50px;
    margin-top: 116px;
}

.carousel-indicators li,
.carousel-indicators li.active {
    margin: 0px 7px;
}

.cardsection {
    margin-top: 40px;
}

.card {
    padding-top: 15px;
    border: none;
}

.card-deck {
    margin-left: 30px;
    margin-right: 30px;
}

h3[class="display-5"] {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 300px;
    margin-left: 30px;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

footer {
    background-color: rgb(244, 246, 247);
    text-align: center;
    font-size: small;
}

h5 a {
    color: black;
}

.list-unstyled a {
    color: #635f5f;
}

#media a {
    margin-left: 5px;
}

.footer-heading h5 {
    font-size: small;
}